.bookmark_button {
  all: unset;
  position: fixed;
  left: 0;
  top: 134px;
  width: 50px;
  height: 50px;
  background-color: #084298;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  font-size: 22px;
  z-index: 10;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}

.bookmark_button.open {
  background-color: #084298;
  transform: translateX(19.9vw);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100%;
  background-color: #084298;
  border-bottom-right-radius: 20px;
  transform: translateX(-20vw);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

.sidebar::-webkit-scrollbar-thumb {
  /* height: 30%; /* 스크롤바의 길이 */
  background: #e9ecef35; /* 스크롤바의 색상 */

  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-track {
  background: transparent; /*스크롤바 뒷 배경 색상*/
}

.sidebar.open {
  transform: translateX(0);
  background-color: #084298;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.bookmark_refresh {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 32px;
  height: 32px;
  background-image: url("../../assets/icon/refresh.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  cursor: pointer;
}

.bookmark_refresh.rotate {
  animation: clockwise-rotation 0.5s linear infinite;
}

@keyframes clockwise-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bookmark_add {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  background-image: url("../../assets/icon/add.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  transform: translateX(0px);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.bookmark_remove {
  position: absolute;
  top: 15px;
  right: 45px;
  width: 32px;
  height: 32px;
  background-image: url("../../assets/icon/remove.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  transform: translateX(0px);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.my_location_container {
  position: relative;
  top: 64px;
  left: 0;
  width: 20vw;
  color: #fff;
}

.my_location {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 10px;
  border-top: #084298 1px solid;
  transform: translateX(0px);
  transition: transform 0.3s ease-in-out;
  background-color: #052c65;
  cursor: pointer;
}

.my_location_title {
  font-size: 15px;
  font-weight: bold;
}

.my_location_name {
  font-size: 16px;
  text-align: center;
}

.my_location_item {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  width: 20vw;
  height: 50px;
  font-size: 16px;
  color: #fff;
  border-bottom: 1px solid #052c65;
  transform: translateX(0px);
  transition: transform 0.3s ease-in-out;
}

.my_location_item.displayed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .sticky_note {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 20vw;
  height: 15vw;
  background-color: #ffda6a;
  border-bottom-right-radius: 20px;
  transform: translateX(0px);
  transition: transform 0.3s ease-in-out;
} */

/* 모달 */
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
}

.modal_content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 901;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: gray;
  cursor: pointer;
  z-index: 902;
}

.bookmark_list {
  position: relative;
  top: 0;
  width: 100%;
  color: #fff;
}
