* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 17px;
  font-weight: 500;
}

.font_color_blue {
  color: #084298;
}

.bg_color_blue {
  background-color: #084298;
}

.color_blue {
  background-color: #084298;
  color: #fff;
  border: none;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
}

.color_blue:hover,
.color_blue_select {
  background-color: #052c65;
  border: none;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
}

.color_white {
  background-color: #fff;
  color: #084298;
  border: none;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
}

/* .color_white:hover {
  background-color: #e9ecef;
  color: #052c65;
  border: none;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
} */

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* .title {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 32px;
  color: #084298;
  letter-spacing: 7px;
} */

/* .img {
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9ecef;
} */

.nav {
  background-color: #084298;
  width: 100vw;
  height: 64px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s ease-in-out;
  float: right;
}

.nav_list {
  margin: 0;
}

.nav_item {
  color: #fff;
  all: unset;
  margin: 0 15px;
}

.nav_item_select {
  padding: 10px 15px;
  border-radius: 10px;
  color: #084298;
  background-color: #fff;
}

.nav_title {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}

/* .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px 0 100px 0;
  color: #084298;
} */

.main_title {
  color: #084298;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 40px;
}

.main_text {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.ol {
  color: #084298;
  font-size: 24px;
  font-weight: 600;
  padding: 20px;
}

.ul {
  color: rgb(75, 74, 74);
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 10px;
}

/* .btn_region_group {
  position: absolute;
  top: 10px;
  left: 10px;
}

.btn_sort_group {
  position: absolute;
  top: 55px;
  left: 10px;
}

/* .btn_zoom_group {
  position: absolute;
  bottom: 10px;
  left: 10px;
} */

/* .btn_select_group {
  margin-bottom: 40px;
} */

.google_map_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#map {
  width: 80%;
  height: 600px;
  border: 1px solid #e9ecef;
  border-radius: 20px;
  margin-top: 1rem;
}

.map {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  margin-bottom: 50px;
}

.map_title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #084298;
}

.footer {
  width: 100vw;
  background-color: #e9ecef;
  height: 300px;
  clear: both;
}

.footer_container {
  width: 1024px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer_item {
  height: 100%;
  flex-basis: 256px;
  padding: 50px 20px;
  color: #084298;
}

.footer_item_title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #084298;
}

/* 대피소 조회, 지진발생이력 css */
.thead_th {
  min-width: 60px;
}

.tbody_black th,
.tbody_black td {
  color: rgb(75, 74, 74);
}
