main.main {
  width: 100vw;
  transition: width 0.5s ease-in-out;
}

main.main.open {
  width: 80vw;
}

.bookmark_button {
  all: unset;
  position: fixed;
  right: 0;
  top: 120px;
  width: 50px;
  height: 45px;
  background-color: #084298;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  font-size: 22px;
  z-index: 1000;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.bookmark_button.open {
  transform: translateX(-20vw);
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100%;
  background-color: #084298;
  transform: translateX(20vw);
  transition: transform 0.5s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}
