nav.nav.open {
  width: calc(100vw - 250px);
  float: right;
}

main.main {
  width: 100vw;
  transition: width 0.3s ease-in-out;
  float: right;
}

main.main.open {
  width: calc(100vw - 250px);
  float: right;
}

.bookmark_button {
  all: unset;
  position: fixed;
  left: 0;
  top: 120px;
  width: 50px;
  height: 45px;
  background-color: #084298;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  font-size: 22px;
  z-index: 1000;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}

.bookmark_button:hover {
  background-color: #084298;
}

.bookmark_button.open {
  background-color: #084298;
  transform: translateX(248px);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #084298;
  transform: translateX(-250px);
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
  background-color: #084298;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.bookmark_add {
  position: fixed;
  top: 5px;
  left: 215px;
  font-size: 30px;
  color: #fff;
  transform: translateX(0px);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.bookmark_remove {
  position: fixed;
  top: 5px;
  left: 190px;
  font-size: 30px;
  color: #fff;
  transform: translateX(0px);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
