.datepicker_button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 18px;
  max-width: 150px;
  height: 40px;
  background-color: #084298;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  text-align: center;
  cursor: pointer;
}

.datepicker_container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  margin-bottom: 10px;
}
